/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



.headert-topp-item__language:hover{
background-color: black;
color: white;

}

.header-top__link {
}


.header-top-link__text {
    font-family:'Akzidenz-Grotesk BQ Condensed';
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}


.wrapper {
min-height: 100%;
}


.container {
max-width: 870px;
min-height: 100%;
border: 2px solid red;
margin: 0 auto;
}



.header-top {
display: flex;
justify-content: space-between;
margin: 30px 0 0 0;
}



.header-top__language {


}



.header-top__lng {
margin: 0 10px 0 0;
font-family: 'Bebas Neue';
font-size: 12px;
line-height: 25px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.1em;

}


.header-top__lng:hover{
	background-color: black;
	color: white;
}

.header-top__link {
font-family:'Akzidenz-Grotesk BQ Condensed';
font-size: 15px;
line-height: 25px;
font-weight: 400;
text-transform: uppercase;
color: #000000;

}

.header-top__link:hover{
	text-decoration: underline;

}




