@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.wrapper {
}

.header{
  width: 100%;
  height: 1000px;
  background:url(../img/logo__img__header/Logo__header__img.jpg)center no-repeat;
  background-size: cover;

}


.container {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
width: 100%;
height: 100%;
}


.header__body {
display: flex;
justify-content: space-between;
padding: 28px 0 0 0;
margin: 0 0 179px 0  ;
}

.header__logo {
font-family: 'Montserrat', sans-serif;
font-size: 30px;
line-height: 1.2;
font-weight: 400;
color: #ffffff;
}
.header__burger {
}
.header__menu {

}

.header__list {
display: flex;
margin: 15px 0 0 0 ;
}


.header__link {
margin: 0px 50px 0 0 ;
font-family:Montserrat;
font-size: 14px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: white;
}


.fa-glasses{
  margin: 0 -60px 0 0 ;
  padding: 0 10px 0 0 ;
}



.header__title {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 100%;

}
.header__title__h2:after{
  content: "";
  width: 60px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 71px auto;
}

.header__title__h1 {
  font-family: 'Kaushan Script';
  font-size: 50px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 42px 0 ;
}

.header__title__h2 {
font-family: Montserrat;
font-size: 110px;
line-height: 100px;
font-weight: 900;
text-transform: uppercase;
color: #ffffff;


}

.header__btn{
  width: 160px;
height: 40px;
background-color: rgba(0,0,0,0.0);
border: 3px solid #ffffff;
margin: 0 auto;

}

.header__btn__text{
  font-family: Montserrat;
font-size: 14px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
padding: 9px 0 0 0 ;
}

.header__slider {
display: flex;
justify-content: space-between;
}


.slider__item {
flex: 0 0 24%;
border-top: 3px solid white; 
margin: 157px 0 0 0;
}

.slider__item__number{
  display: inline-block;
  font-family: Montserrat;
font-size: 24px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
margin: 25px 0 0 0;
}

span{
  font-family: Montserrat;
font-size: 24px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #ffffff;
padding: 0 0px 0 5px ;
}

@media (max-width: 999px) { 
.header__title__h1{
  font-size: 55px;

}
.header__title__h2{
  font-size: 100px;
}
.header__link{
  font-size: 12px;
}
}

@media (max-width: 768px) {
  .header__body{
    height: 50px;/*Сдесь мы задаем размер шапки при суЖении*/
  }
  .header__burger{
    display: block;
    width: 30px;
    height: 20px;
    /*Это мы ставим для того чтобы увидеть нашь бургер при суЖении*/
    z-index: 3;
    position: relative;
  }
  .header__burger span{
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0 ;
    width: 100%;
    height: 2px;
    top: 9px;/*Ставим среднюю линию по середине*/
    transition: all 0.3s ease 0s;/*!Это мы добавляем после написания кода в JS Для более плавного перехода бургера на крестик*/
  }

  .header__burger:before,
  .header__burger:after{
    content: '';
    background-color: white;
    position: absolute;/*наши линии появляютя*/
    width: 100%;
    height: 2px;/*задаем длинну линий*/
    left: 0;
    transition: all 0.3s ease 0s;/*!Это мы добавляем после написания кода в JS Для более плавного перехода бургера на крестик*/
  }
  .header__burger:before{
    top: 0;
  }
  
  .header__burger:after{
    bottom: 0;
  }
  .header__menu {
    position: fixed;/*Фиксируем наше меню что бы оно не гуляло вверх и вниз а мертво стояло на месте*/
    top: -100%;/*!Делаем после написания кода в JS для того что бы наше меню сехоло вниз, потготавливаем его для того что бы при на;атии на бургер оно появлялось*/
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eaae85 ;/*заливаем фон который будет появлятся только при суЖении*/
    padding: 70px 0 0 0 ;/* делаем небольшелой отступ вверх от шапки для того что бы наше меню вылезло ис под шапки*/
    padding:70px 10px 0 10px  ;/*Делаем отступы слева*/
    transition: all 0.3s ease 0s;/*!Делаем после написания кода в JS для того что бы была более плавная анимация появления меню*/
    overflow: auto;/*!Делается после JS дает возмо;ность при перивернутом телефоне скролить вверх-вниз*/
  }
    
    .header__menu.active{
      top: 0;/*!Делаем после написания кода в JS для того что бы При на;атии наше меню появлялось и пропадало*/
      
    }
    
    .header__list {
      display: block;/*display block имеет свойство отключать display flex 
      Что мы тут и делаем , теперь у нас наше меню встоет в столбик в левый угол*/
     
  }
  
  
  .header__list li{
    margin: 0 0px 20px px;/*Это мы делаем для того что бы сделать отступы наших  li*/
    font-size: 50px;
    
  }
  .header__burger.active:before{
    transform:rotate(45deg) ;
    top: 9px;
  }

  .header__burger.active:after{
    transform:rotate(-45deg) ;
    bottom: 9px;
  }

  .header__burger.active span{
    transform:scale(0);
  }
  
  
  .header__title__h1 {
    font-size: 30px;
    margin: 0 0 0px 0;
  }
  .header__title__h2{
    font-size: 50px;
    line-height: 60px;
  }
  
  .slider__item__number{
    font-size: 12px;
  }
  span{
    font-size: 12px;
  }

}
  


  




