/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.wrapper {
min-height:100%;
display: flex;
flex-direction: column;



}

.content {

flex:1 1 auto;

}




.hi {
padding: 50px 0 51px 0;
background-color: #445162;

}


.container {
margin: 0 auto;
max-width: 1180px;


}



.hi__row {
display: flex;
justify-content: space-between;
}



.hi__img {
order: 2;
margin: 8px 0 0 0 ;
}

.hi__body {
color: white;
}



.hi__title {
order: 1;
font-size: 60px;
line-height: 1.2;
padding: 0 0 40px 0 ;
}


.hi__text {
font-size: 20px;
line-height: 36px;	


	
	
}

.fa-check{
padding:  0 10px 0 0;
}


.hi_ul {
}




.what {
margin: 51px 0 ;

}

.container {
}

.what__row {
display: flex;
margin:0 -20px 0 0  ;

}


.what__img {
padding: 0 20px 0 0 ;
}


.what__body {

}


.whay__title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;
	margin:0 0 30px 0  ;
}


.whay__text {
	font-size: 15px;
	line-height: 24px;
	color: #333333;
	padding:0 10px 0 0;
}


.whay__text p{
margin: 0 0 30px 0 ;

}

.colums {
margin: 50px 0 ;
background-color: #f5f5f5;
}



.container {
}


.colums__title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;
	text-align: center;
	margin: 0 0 30px 0 ;
	padding: 35px 0 0 0;
}


.colums__row {
display: flex;
flex-wrap: wrap;

}


.colums__column {
flex: 0 1 50%;
}


.column__item {

}

.column-item__row {
display: flex;
margin:0 0 20px 0  ;
}


.column-item__img {
padding: 0 16px 0 16px ;
margin: 10px 0 0 0;
}

.column-item__body {
}
.column-item__title {
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	color: #445161;
}
.column-item__text {
	font-size: 15px;
	line-height: 24px;
	color: #333333;
}


.vertical {
margin: 50px 0 ;

}



.container {
}



.vertical__title {
	font-size: 30px;
	line-height: 36px;
	color: #445161;
	text-align: center;
	margin:40px 0 30px 0 ;
}



.vertical__body {
max-width: 990px ; 

margin: 0 auto;
}


.vertical__row {
display: flex;
margin: 0 -25.5px 0 0 ;

}


.vertical__column {
flex: 0 1 33.333%;
padding: 0 25.5px 0 0 ;
display: flex;
}


.vertical__item {
background-color:#445162 ;
border-radius:5px;
min-height:500px ;
padding: 0 0 10px 0 ;
display: flex;
flex-direction: column;
}


.item__title {
text-align: center;
padding: 18px 0 10px 0 ;
font-size: 24px;
line-height: 30px;
text-transform: uppercase;
color: white;
}

.item__subtitle {
text-align: center;
font-size: 24px;
line-height: 30px;
text-transform: uppercase;
background-color: #fff;
padding: 12px;
border: 2px solid #445162;
}



.item__text {
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	padding: 20px 25px;
	flex: 1 1 auto;
}
.item__text p{
margin: 0 0 30px 0 ;

}

span{
	text-align: center;
	background-color: #fff;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #445161;
	display: block;
	padding: 10px;
	margin: 20px ;
	width: 260px;
	height: 40px;
	border-radius: 5px;
}













.Footer {
background-color: #f5f5f5;

}

.container{

}

.Footer__row {
display: flex;
justify-content: center;
height: 65px;

}


.Footer__text {
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.025em;
	color: #445162;
	margin: 22px 0 0 0 ;
	
}